---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

  <h1>{{ site.title }}</h1>
  {% if site.theme_config.show_description == true %}
    <p>{{ site.description }}</p>
  {% endif %}
</header>

{{ content }}

<p>
  Kia Ora,
  <br>
  <br>

  <img src="\images\About\Photo.jpg" width="200" style="float:right; margin-left:20px;">

  My name is Liam, and I am a postdoctoral researcher at the University of New South Wales, Australia, where I work on developing electrochemical aptamer-based sensors. I completed my PhD in chemistry from the University of Canterbury, New Zealand, where I focused on the chemical modification of transparent semiconducting materials for use in electronic devices.
  <br>
  <br>

  In addition to my PhD, I hold a BSc(Hons) in chemistry and a BSc majoring in chemistry and mathematics, both from the University of Canterbury. My research interests include nanotechnology, electrochemistry, and bioanalytical chemistry.
  <br>
  <br>

  On this website, you'll find updates on my current research, publications, and other projects. Please note that the views expressed here are my own and not those of any organisation I am affiliated with. I will update this page when time permits, so please check back periodically. If you have any interesting opportunities or collaborations, please feel free to contact me below.
</p>

{% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
{% endif %}

{% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %}

{% if site.theme_config.show_blog == true %}
  <h2>{{ site.theme_config.home.title_blog }}</h2>
  {% include post_list.html %}
{% endif %}

{% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects }}</h2>
  {% include card_list.html collection=site.data.home.old_project_entries %}
{% endif %}

<hr>  

<h2>  Making this website </h2>

<p>
So I have decided to make a personal website, now what? It is uncommon for graduate students in materials science to make a their own website; however for me there are many reasons:
<p>

<ul>
<li> Start blogging, as a way to maintain writing skills. I plan on posting a mix of science and personal content.</li>
<li> Showcase my research.</li>
<li> Write up "how to" blogs so that people don't have to spend hours working out how to do the things I have done. This is also handy when I need to revisit something I did and cannot remember how to do it.</li>
<li> Understand the *internet* better and learn how to deploy and maintain a website.</li>
</ul>

<p>
I learnt how to program using <a href="https://au.mathworks.com/products/matlab.html">Matlab</a>  which is a great tool for for routine scientific computing tasks. I'm a big fan of MATLAB as it is a great more straight forward way of quickly visualising your data. You also don't have to deal with 'CS stuff' like libraries, dependencies, *etc.*, but, other languages like 'Python' are certainly more prominent in the software engineer roles, so I have also expanded my range and started using this too. So this website will be partially an exercise in breaking out of my 'MATLAB' comfort zone.
</p>

<p>
I initially based this website on <a> href="https://petermattia.com/" >Peter M. Attia's website</a> which I found intriguing and thought I could accomplish something similar. The website was created using Jekyll on Github and I may shift this in the future to something more permanent, but currently want to just get this started and to be a place to host my [CV](CV). Jekyll is a static site generator, which means it creates nice-looking, speedy websites from relatively simple text editor input. I have now shifted to using the <a> href ="https://github.com/abhinavs/moonwalk">Moonwalk</a> theme.
</p>
{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
